

<div class="form-group">
  <%= form.label :title, 'Title', class:'col-sm-2 control-label' %>
  <div class="col-sm-10">
    <%= form.text_field :title , class: 'form-control'%>
  </div>
</div>

<div class="form-group">
  <%= form.label :description, 'Description', class:'col-sm-2 control-label' %>
  <div class="col-sm-10">
    <%= form.text_area :description, size: '50x8' , class: 'form-control'%>
  </div>
</div>

<div class="form-group">
  <%= form.label :address, 'Address', class:'col-sm-2 control-label' %>
  <div class="col-sm-10">
    <%= form.text_field :address , class: 'form-control'%>
  </div>
</div>

<div class="form-group">
  <%= form.label :city, 'City', class:'col-sm-2 control-label' %>
  <div class="col-sm-10">
    <%= form.text_field :city , class: 'form-control'%>
  </div>
</div>

<div class="form-group">
  <%= form.label :country, 'Country', class:'col-sm-2 control-label' %>
  <div class="col-sm-10">
    <%= form.text_field :country , class: 'form-control'%>
  </div>
</div>

<div class="form-group">
  <%= form.label :phone, 'Phone', class:'col-sm-2 control-label' %>
  <div class="col-sm-10">
    <%= form.text_field :phone , class: 'form-control'%>
  </div>
</div>

<div class="form-group">
  <%= form.label :max_guests, 'Max guests', class:'col-sm-2 control-label' %>
  <div class="col-sm-10">
    <%= form.text_field :max_guests , class: 'form-control'%>
  </div>
</div>

<div class="form-group">
  <%= form.label :num_bedrooms, 'Num of Bedrooms', class:'col-sm-2 control-label' %>
  <div class="col-sm-10">
    <%= form.text_field :num_bedrooms , class: 'form-control'%>
  </div>
</div>

<div class="form-group">
  <%= form.label :price, 'Price', class:'col-sm-2 control-label' %>
  <div class="col-sm-10">
    <%= form.text_field :price , class: 'form-control'%>
  </div>
</div>

<div class="form-group">
  <%= form.label :currency, 'Currency', class:'col-sm-2 control-label' %>
  <div class="col-sm-10">
    <%= form.text_field :currency , class: 'form-control'%>
  </div>
</div>

<div class="form-group">
  <%= form.label :house_rules, 'House Rules', class:'col-sm-2 control-label' %>
  <div class="col-sm-10">
    <%= form.text_area :house_rules, size: '50x5' , class: 'form-control'%>
  </div>
</div>

<div class="form-group">
  <%= form.label :tag_list, 'Tags (separated by commas)', class:'col-sm-2 control-label' %>
  <div class="col-sm-10">
    <%= form.text_field :tag_list , class: 'form-control'%>
  </div>
</div>

<!--
<div class="form-group">
  <%= form.label :verified, 'Verify', class:'col-sm-2 control-label' %>
  <div class="col-sm-10">
    <%= form.check_box :verified %>
  </div>
</div>
 -->
