<div class="container">

<h2>Listing index</h2>

<%= link_to 'Create new Listing', '/listings/new' %>

<h3><%= link_to "Listings", listings_path %></h3>

<div id="tag_cloud">
  <% tag_cloud Listing.tag_counts, %w[s m l] do |tag, css_class| %>
    <%= link_to tag.name, tag_path(tag.name), class: css_class %>
  <% end %>
</div>

<% if @listings.blank? %>
  <p>
    There is no listing yet
  </p>
<% else %>
  <div class="flickr_pagination">
    <%= will_paginate @listings, previous_label: h("<"), next_label: h(">") %>
  </div>

  <p>
    <strong>Total listings: </strong><%= @listings.count %>
  </p>

  <ul id='listings'>
    <% @listings.each do |listing| %>
      <li>
        <% if listing.photos.count > 0 %>
          <p><%= image_tag listing.photos[0].thumb.url, class: "img-rounded" %></p>
        <% end %>
        <%= render partial: '/listings/verify', locals: {listing: listing} %>
        <%= link_to listing.title, listing %>
      </li>
    <% end %>
  </ul>


<% end %>


<p><%= link_to 'Back', root_path %></p>


</div>
