<div class="container">

<h2>Listing index</h2>

<%= link_to 'Create new Listing', '/listings/new' %>


<h3>Listings</h3>

<div id="tag_cloud">
  <% tag_cloud Listing.tag_counts, %w[s m l] do |tag, css_class| %>
    <%= link_to tag.name, tag_path(tag.name), class: css_class %>
  <% end %>
</div>

<% if @listings.blank? %>
  <p>
    There is no listing yet
  </p>
<% else %>
  <div class="flickr_pagination">
    <%= will_paginate @listings, previous_label: h("<"), next_label: h(">") %>
  </div>

  <ul id='listings'>
    <% @listings.each do |listing| %>
      <li>
        <%= link_to listing.title, listing %>
        <b><%= link_to 'Edit', edit_listing_path(listing) %></b>
        <%= link_to 'Delete', listing, method: :delete, data: {confirm: "Are you sure you want to delete this listing?"} %>

      </li>
    <% end %>
  </ul>


<% end %>

</div>
