<div class="container">

<h2>Listing index</h2>

<%= link_to 'Create new Listing', '/listings/new' %>


<h3>Listings</h3>

<% if @listings.blank? %>
  <p>
    There is no listing yet
  </p>
<% else %>

  <ul id='listings'>
    <% @listings.each do |listing| %>
      <li>
        <%= link_to listing.title, listing %>
        <%= link_to listing.title, {action: 'show', id: listing.id} %>
        <b><%= link_to 'Edit', edit_listing_path(listing) %></b>
        <%= link_to 'Delete', listing, method: :delete, data: {confirm: "Are you sure you want to delete this listing?"} %>

      </li>
    <% end %>
  </ul>


<% end %>

</div>
