<div class="container">

<h2>Listing index</h2>

<%= link_to 'Create new Listing', '/listings/new' %>

<%= form_for @listing, url: listings_path, html: {method: 'get', class: 'form-horizontal'} do |form| %>

  <div class="form-group">
    <%= form.label :city, 'City', class:'col-sm-2 control-label' %>
    <div class="col-sm-5">
      <%= form.select :city , ['Malang', 'Ann Arbor'], class: 'form-control'%>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= form.submit 'Search' %>
    </div>
  </div>

<% end %>



<h3><%= link_to "Listings", listings_path %></h3>

<div id="tag_cloud">
  <% tag_cloud Listing.tag_counts, %w[s m l] do |tag, css_class| %>
    <%= link_to tag.name, tag_path(tag.name), class: css_class %>
  <% end %>
</div>

<% if @listings.blank? %>
  <p>
    There is no listing yet
  </p>
<% else %>
  <div class="flickr_pagination">
    <%= will_paginate @listings, previous_label: h("<"), next_label: h(">") %>
  </div>

  <p>
    <strong>Total listings: </strong><%= @listings.count %>
  </p>

  <ul id='listings'>
    <% @listings.each do |listing| %>
      <li>
        <% if listing.photos.count > 0 %>
          <p><%= image_tag listing.photos[0].thumb.url, class: "img-rounded" %></p>
        <% end %>
        <%= render partial: '/listings/verify', locals: {listing: listing} %>
        <%= link_to listing.title, listing %>
      </li>
    <% end %>
  </ul>


<% end %>


<p><%= link_to 'Back', root_path %></p>


</div>
