<div class='container'>
  <h2>Listing details</h2>

<p>
  <b>
    <% if allow?("listings", "edit") %>
      <%= link_to 'Edit', edit_listing_path(@listing) %>
    <% end %>

    <% if allow?("listings", "destroy") %>
      <%= link_to 'Delete', @listing, method: :delete, data: {confirm: "Are you sure you want to delete this listing?"} %>
    <% end %>
  </b>

</p>
<p>
  <br>
  <% if allow?("listings", "verify") %>

    <% if @listing.verified? %>
      <%= link_to 'Unverify', verify_path(@listing), method: :post, data: {confirm: "Are you sure you want to UN-verify this listing?"} %>
    <% else %>
      <%= link_to 'Verify', verify_path(@listing), method: :post, data: {confirm: "Are you sure you want to verify this listing?"} %>
    <% end %>

  <% end %>
</p>

<p>
  <%= link_to 'Upload Photos', action: 'upload_photos', id: @listing.id %>
</p>

<%= render "/reservations/form" %>

<% if @listing.photos.count > 0 %>
  <%= render partial: '/listings/photos', object: @listing %>
<% end %>

<p>
  <strong><%= @listing.title %></strong>
  <%= render partial: '/listings/verify', locals: {listing: @listing} %>
</p>

<p>
  <strong>Description: </strong>
  <pre>
    <%= @listing.description %>
  </pre>
</p>

<p>
  <strong>Address: </strong>
  <%= @listing.address %>
</p>
<p>
  <strong>City: </strong>
  <%= @listing.city %>
</p>
<p>
  <strong>Country: </strong>
  <%= @listing.country %>
</p>
<p>
  <strong>Phone: </strong>
  <%= @listing.phone %>
</p>
<p>
  <strong>Max guests: </strong>
  <%= @listing.max_guests %>
</p>
<p>
  <strong>Num of Bedrooms: </strong>
  <%= @listing.num_bedrooms %>
</p>
<p>
  <strong>Price: </strong>
  <%= @listing.price %>
</p>

<p>
  <strong>Currency: </strong>
  <%= @listing.currency %>
</p>

<p>
  <strong>House Rules: </strong>
  <pre>
    <%= @listing.house_rules %>
  </pre>
</p>

<p>
  Tags: <%= raw @listing.tag_list.split(/,\s+/).map { |t| link_to t, tag_path(t) }.join(', ') %>
</p>

<p>
  <h3>Reservations</h3>
  <p>Total: <%= @listing.reservations.count %></p>

  <% @listing.reservations.order(start_date: :asc).each do |r| %>
    <p> <%= r.user.email %> Start <%= r.start_date %>, End <%= r.end_date %>, num guests <%= r.num_guests %> </p>
  <% end %>
</p>


<p>
  <%= link_to 'Back', listings_path %>
</p>

</div>
