
<div class='container'>


<h2>Payment</h2>

<p> Start date: <%= @reservation.start_date %> </p>
<p> End   date: <%= @reservation.end_date %> </p>
<p> Total: <%= @days %> days</p>
<p> Price per night: <%= @reservation.listing.price %> <%= @reservation.listing.currency %></p>
<p> Amount = <%= @amount %> <%= @reservation.listing.currency %> </p>


<div class="panel panel-default bootstrap-basic">
  <div class="panel-heading">
    <h3 class="panel-title">Enter Card Details</h3>
  </div>

  <%= form_for :checkout_form, url: reservation_payments_path(@reservation.id), html: {id: "cardForm", class: 'panel-body form-horizontal' } do |form| %>

  <div class="row">

    <div class="form-group">
      <%= form.label :cardholder_name, 'Cardholder name', class:'col-sm-2 control-label' %>
      <div class="col-sm-10">
        <%= form.text_field :cardholder_name , class: 'hosted-field col-sm-6'%>
      </div>
    </div>
    <div class="form-group">
      <%= form.label :billing_address, 'Billing Address', class:'col-sm-2 control-label' %>
      <div class="col-sm-10">
        <%= form.text_field :billing_address , class: 'hosted-field col-sm-6'%>
      </div>
    </div>
    <div class="form-group">
      <%= form.label :billing_postal_code, 'Billing Postal Code', class:'col-sm-2 control-label' %>
      <div class="col-sm-10">
        <%= form.text_field :billing_postal_code , class: 'hosted-field'%>
      </div>
    </div>


  <%= form.label :card_number, "Credit Card Number", html: {class: "hosted-fields--label"}  %>
  <div id="card-number" class="hosted-field"></div>


  <%= form.label :expiration_date, "Expiration Date", html: {class: "hosted-fields--label"} %>
  <div id="expiration-date" class="hosted-field"></div>

  <%= form.label :cvv, "CVV", html: {class: "hosted-fields--label"} %>
  <div id="cvv" class="hosted-field"></div>

  <%= form.hidden_field :payment_method_nonce %>

  <div class ="button-container">
    <%= form.submit "Pay now", disabled: true, class: "btn btn-primary", id: "submit-payment-btn" %>
  </div>

  <% end %>
</div>

</div>

</div> <!-- end of container -->


<!-- Load the Client component. -->
<script src="https://js.braintreegateway.com/web/3.6.3/js/client.min.js"></script>
<!-- Load the Hosted Fields component. -->
<script src="https://js.braintreegateway.com/web/3.6.3/js/hosted-fields.min.js"></script>



<script>

var form = document.querySelector('#cardForm');
// var authorization = 'sandbox_g42y39zw_348pk9cgf3bgyw2b';
var authorization = '<%= @client_token %>';
var submitBtn = document.querySelector("#submit-payment-btn");

braintree.client.create({
  // Replace this with your own authorization.
  authorization: authorization
}, function (clientErr, clientInstance) {
  if (clientErr) {
    // Handle error in client creation
    return;
  }

  braintree.hostedFields.create({
    client: clientInstance,
    styles: {
      'input': {
        'font-size': '14pt'
      },
      'input.invalid': {
        'color': 'red'
      },
      'input.valid': {
        'color': 'green'
      }
    },
    fields: {
      number: {
        selector: '#card-number',
        placeholder: '4111 1111 1111 1111'
      },
      cvv: {
        selector: '#cvv',
        placeholder: '123'
      },
      expirationDate: {
        selector: '#expiration-date',
        placeholder: '10/2019'
      }
    }
  }, function (hostedFieldsErr, hostedFieldsInstance) {
    if (hostedFieldsErr) {
      // Handle error in Hosted Fields creation
      return;
    }

    submitBtn.removeAttribute('disabled');

    form.addEventListener('submit', function (event) {
      event.preventDefault();

      hostedFieldsInstance.tokenize(function (tokenizeErr, payload) {
        if (tokenizeErr) {
          // Handle error in Hosted Fields tokenization
          return;
        }

        // Put `payload.nonce` into the `payment-method-nonce` input, and then
        // submit the form. Alternatively, you could send the nonce to your server
        // with AJAX.
        document.querySelector('#checkout_form_payment_method_nonce').value = payload.nonce;
        form.submit();
      });
    }, false);
  });
});


</script>
