<!DOCTYPE html>
<html>
<head>
  <title>Rudynb</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <script src="https://js.braintreegateway.com/web/3.6.3/js/client.min.js"></script>

  <script src="https://js.braintreegateway.com/web/3.6.3/js/hosted-fields.min.js"></script>


  <!-- <%= javascript_include_tag 'application' %> -->
  <%= csrf_meta_tag %>
</head>
<body>

  <%= render template: '/static/nav' %>


  <div id="header">
    <% if signed_in? %>
      <%= button_to t(".sign_out"), sign_out_path, method: :delete %>
    <% else %>
      <!-- <%= link_to t(".sign_in"), sign_in_path %> -->

      <button type="button" class="btn btn-success pull-left" data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-modal-window" aria-hidden="true"></span> Sign in now</button>
      <%= render template: '/static/modal_signin' %>

    <% end %>
  </div>

  <div id="flash">
    <% flash.each do |key, value| %>
      <div id="flash_<%= key %>"><%=h value %></div>
    <% end %>
  </div>

  <%= yield %>
</body>
</html>
